/* Welcome Page */
.auto-welcome-container {
    text-align: center;
    padding: 4rem 0;
  }
  
  .auto-main-title {
    font-size: 2.5rem;
    color: var(--color-text-primary);
    margin-bottom: 1rem;
    font-family: var(--font-family);
  }
  
  .auto-subtitle {
    color: var(--color-text-secondary);
    font-size: 1.25rem;
    font-family: var(--font-family);
  }